<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.salaryadmin.mapper.ChangeSheetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.salaryadmin.entity.ChangeSheet">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="yearmonth_string" property="yearmonthString"/>
        <result column="yearmonth_int" property="yearmonthInt"/>
        <result column="comment" property="comment"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, year, month, yearmonth_string, yearmonth_int, comment
    </sql>

    <update id="updateProcessStatusById">
      update change_sheet set process_status=#{taskName} where id=#{changeSheetId}
    </update>

    <select id="getOtherBonusIncludeNameCommentBySalNp"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeNameComment">
      select distinct sal_bonus.name,sal_bonus.comment from sal_bonus left join sal_np on sal_bonus.sal_id=sal_np.id where sal_np.year=#{year} and sal_np.month=#{month} order by sal_bonus.sal_id desc,sal_bonus.id
    </select>

    <select id="getOtherBonusIncludeNameCommentBySalLtx"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeNameComment">
      select distinct sal_bonus.name,sal_bonus.comment from sal_bonus left join sal_ltx on sal_bonus.sal_id=sal_ltx.id where sal_ltx.year=#{year} and sal_ltx.month=#{month} order by sal_bonus.sal_id desc,sal_bonus.id
    </select>

    <select id="getOtherBonusIncludeNameCommentBySalLx"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeNameComment">
      select distinct sal_bonus.name,sal_bonus.comment from sal_bonus left join sal_lx on sal_bonus.sal_id=sal_lx.id where sal_lx.year=#{year} and sal_lx.month=#{month} order by sal_bonus.sal_id desc,sal_bonus.id
    </select>

    <select id="getOtherBonusIncludeUserNameBySalNp"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeUserName">
      select sal_np.user_dept_name,sal_np.user_name,sal_bonus.name,sal_bonus.money,sal_bonus.comment from sal_bonus left join sal_np on sal_bonus.sal_id=sal_np.id where sal_np.year=#{year} and sal_np.month=#{month} order by sal_np.user_sort
    </select>

    <select id="getOtherBonusIncludeUserNameBySalLtx"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeUserName">
      select sal_ltx.user_dept_name,sal_ltx.user_name,sal_bonus.name,sal_bonus.money,sal_bonus.comment from sal_bonus left join sal_ltx on sal_bonus.sal_id=sal_ltx.id where sal_ltx.year=#{year} and sal_ltx.month=#{month} order by sal_ltx.user_sort
    </select>

    <select id="getOtherBonusIncludeUserNameBySalLx"
            resultType="com.hthyaq.salaryadmin.bo.otherBonus.OtherBonusIncludeUserName">
      select sal_lx.user_dept_name,sal_lx.user_name,sal_bonus.name,sal_bonus.money,sal_bonus.comment from sal_bonus left join sal_lx on sal_bonus.sal_id=sal_lx.id where sal_lx.year=#{year} and sal_lx.month=#{month} order by sal_lx.user_sort
    </select>

</mapper>
